%br
.row
  .col-sm-10
    .box.bordered-box.blue-border
      .box-header.blue-background
        .title
          Edit Listing
      .box-content.box-double-padding
        .form
          = render partial: 'form'