.row
  .col-md-12
    %h1 Calendar

.row
  .col-md-3
    .box
      .form-group
        %input#new-event-input.form-control{placeholder: "Event name", type: "text"}/

        = link_to "Create Event", "#", class: 'btn btn-primary'
  .col-md-9
    .box
      #full-calendar

