.modal.fade#event-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title 
      .modal-body
        %p 
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close


.row
  .col-md-12
    %h1 Calendar

.row
  .col-md-3
    .box
      .form-group
        %input#new-event-input.form-control{placeholder: "Event name", type: "text"}/

        = link_to "Create Event", "#", class: 'btn btn-primary'
  .col-md-9
    .box
      #full-calendar

