.row
  .col-sm-12
    %h1= "#{@client.first_name} #{@client.last_name}"

.row
  .col-sm-6
    .box
      %h2 Contact Info:

  .col-sm-6
    .box
      %h2 Events

.row
  .col-sm-12
    .box
      %h2 Showings

.row
  .col-sm-12
    .box
      %h2 Selling

.row
  .col-sm-12
    .box
      %h2 Offers