.row
  .col-lg-4.text-center
    = link_to "New Task", new_task_events_path, remote: true, class: 'btn-lg btn-primary btn-block'
  .col-lg-4.text-center
    = link_to "New Appointment", new_appointment_events_path, remote: true, class: 'btn-lg btn-success btn-block'
  .col-lg-4.text-center
    = link_to "New Showing", new_showing_events_path, remote: true, class: 'btn-lg btn-info btn-block'