- ajax ||= false
= simple_form_for @task, url: params[:action] == "edit" ? event_path(@task) : events_path, method: params[:action] == "edit" ? :put : :post, remote: ajax do |f|
  .clearfix
    = f.input :name
  .clearfix
    = f.input :due_date, as: :string, input_html: { autocomplete: "off", class: 'datetime-picker' }
  .modal-footer
    = f.submit class: 'btn btn-primary'

    