#wrapper
  %section
    .container
      #content-wrapper.row
        .col-xs-12
          %h1.text-center{style: 'font-size:32px;'}
            Agent Signals - Customer Relations Management
      .row
        #container.banner
          #banner-fade
            %ul.bjqs
              %li
                %img{:src => "assets/dashboard.png", :alt => "User Dashboard"}
              %li
                %img{:src => "assets/new_lead.png", :alt => "New Lead" }
              %li
                %img{:src => "assets/new_account.png", :alt => "New Account"}
              %li
                %img{:src => "assets/new_opportunity.png", :alt => "New Opportunity" }
              %li
                %img{:src => "assets/new_task.png", :alt => "New Task"}
              %li
                %img{:src => "assets/web_to_lead.png", :alt => "Web to Lead" }
      .row
        %h1.text-center{style: 'font-size:32px;'}
          COMING SOON
        %p.text-center{style: 'font-size:22px;'}
          Lead tracking so easy a programmer can do it ...


