#wrapper
  %section
    .container
      #content-wrapper.row
        .col-xs-12
          %h1.text-center{style: 'font-size:32px;'}
            Welcome to Simple CRM - Customer Relations Management

        .col-xs-12
          #slider
            .slide1
              %img{:src => "assets/dashboard.png", :alt => "user dashboard"}
            .slide2
              %img{:src => "assets/new_lead.png", :alt => "New Lead" }




