%section#content
  .container
    #content-wrapper.row
      .col-xs-12
        .row
          .col-sm-9
            .page-header
              %h1.pull-left
                %i.icon-table
                %span Simple CRM Pricing
        .row.pricing-tables
          .col-sm-6.col-md-3
            .pricing-table
              .header Starter
              .price.blue-background
                %span Free
              %ul.list-unstyled.features
                %li
                  %strong 1
                  user
                %li
                  %strong Unlimited
                  Leads
                %li
                  %strong Unlimited
                  Accounts
                %li
                  %strong Unlimited
                  Contacts
                %li
                  %strong Unlimited
                  Opportunities
              .footer
                %a.btn.btn-primary{href: new_user_registration_path(type: 'free')}
                  %i.icon-signin
                  Sign up
          .col-sm-6.col-md-3
            .pricing-table
              .header Basic
              .price.orange-background
                %span $30
              %ul.list-unstyled.features
                %li
                  %strong 2 - 5
                  users
                %li
                  %strong Unlimited
                  Leads
                %li
                  %strong Unlimited
                  Accounts
                %li
                  %strong Unlimited
                  Contacts
                %li
                  %strong Unlimited
                  Opportunities
              .footer
                %a.btn.btn-warning{href: new_user_registration_path(type: 'basic')}
                  %i.icon-signin
                  Sign up
          .col-sm-6.col-md-3
            .pricing-table
              .header Pro
              .price.red-background
                %span $50
              %ul.list-unstyled.features
                %li
                  %strong 6 - 10
                  users
                %li
                  %strong Unlimited
                  Leads
                %li
                  %strong Unlimited
                  Accounts
                %li
                  %strong Unlimited
                  Contacts
                %li
                  %strong Unlimited
                  Opportunities
              .footer
                %a.btn.btn-danger{href: new_user_registration_path(type: 'pro')}
                  %i.icon-signin
                  Sign up

    %footer#footer
      .footer-wrapper
        .row
          .col-sm-6.text
            Copyright © 2014 Simple CRM