.group-header
  .row
    .col-sm-6
      .text-center
        %h2 New Contact
.row
  .col-sm-10
    .box.bordered-box.blue-border
      .box-header.blue-background
        .title
          Create New Contact
      .box-content.box-double-padding
        .form
          = render partial: 'form'