/*
 *= require font-awesome
 *= require bootstrap_overrides
 *= require sidebar
 *= require_self
 */


html
  min-height: 100%

body
  line-height: 20px
  font-weight: normal
  padding: 0 25px 100px 25px
  background-color: rgba(74, 121, 147, 0.89)
  background: radial-gradient(farthest-side ellipse at 10% 0, rgba(74, 121, 147, 0.89), rgba(226, 226, 226, 0.87), rgba(185, 135, 131, 0.87)), url("../img/bgnoise_lg_dark.png")
  background: -webkit-radial-gradient(10% 0, farthest-side ellipse, rgba(74, 121, 147, 0.89), rgba(226, 226, 226, 0.87), rgba(185, 135, 131, 0.87)), url("../img/bgnoise_lg_dark.png")
  background: -moz-radial-gradient(10% 0, farthest-side ellipse, rgba(74, 121, 147, 0.89), rgba(226, 226, 226, 0.87), rgba(185, 135, 131, 0.87)), url("../img/bgnoise_lg_dark.png")

h1
  color: #fff
  margin-top: 0
  text-shadow: 2px 2px #777

ul 
  margin: 0
  padding: 0

.content
  background: #fff
  padding: 25px

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
  background: transparent

#top-navbar 
  a
    color: #fff
    font-size: 20px
  .dropdown-menu 
    a
      color: #666 !important
      font-size: 14px


.navbar-default 
  background-color: transparent

.clearfix
  margin-top: 40px

#sidebar
  li.fa 
    float: right
    padding: 8px 15px 8px 0
    font-size: 15px


