/*
 *= require font-awesome
 *= require bootstrap_overrides
 *= require fullcalendar
 *= require fullcalendar_overrides
 *= require datetimepicker
 *= require sidebar
 *= require screen
 *= require select2
 *= require bootsy
 *= require select2-bootstrap
 *= require dataTables/jquery.dataTables.bootstrap3
 *= require_self
 */

html
  min-height: 100%

body
  line-height: 20px
  font-weight: normal
  font-size: 16px
  padding: 0 25px 100px 25px
  font-family: 'Lato', sans-serif


h1, h2, h3, h4, h5
  font-family: 'Abel', sans-serif
  font-weight: bold

h1
  color: #fff
  margin-top: 0
  text-shadow: 2px 2px #777

ul
  margin: 0
  padding: 0

input[type='text'], input[type='email'], input[type='tel'], input[type='password'], textarea
  padding: 5px
  width: 100%
  border-radius: 3px
  border: 1px solid #ccc

.checkbox input[type='checkbox']
  margin-left: 0
  margin-right: 15px

.default-background
  background-color: rgba(74, 121, 147, 0.89)
  background: radial-gradient(farthest-side ellipse at 10% 0, rgba(74, 121, 147, 0.89), rgba(226, 226, 226, 0.87), rgba(185, 135, 131, 0.87))
  background: -webkit-radial-gradient(10% 0, farthest-side ellipse, rgba(74, 121, 147, 0.89), rgba(226, 226, 226, 0.87), rgba(185, 135, 131, 0.87))
  background: -moz-radial-gradient(10% 0, farthest-side ellipse, rgba(74, 121, 147, 0.89), rgba(226, 226, 226, 0.87), rgba(185, 135, 131, 0.87))

.medium-background
  background-color: rgba(125, 128, 103, 0.88)
  background: radial-gradient(farthest-side ellipse at 10% 0, rgba(125, 128, 103, 0.88), rgba(193, 179, 132, 0.87), rgba(157, 134, 95, 0.88))
  background: -webkit-radial-gradient(10% 0, farthest-side ellipse, rgba(125, 128, 103, 0.88), rgba(193, 179, 132, 0.87), rgba(157, 134, 95, 0.88))
  background: -moz-radial-gradient(10% 0, farthest-side ellipse, rgba(125, 128, 103, 0.88), rgba(193, 179, 132, 0.87), rgba(157, 134, 95, 0.88))

.default-inverse-background
  background-color: rgba(74, 121, 147, 0.89)
  background: radial-gradient(farthest-side ellipse at 10% 0, rgba(74, 121, 147, 0.89), rgba(204, 204, 204, 0.85) 60%, rgba(185, 135, 131, 0.87) 120%)
  background: -webkit-radial-gradient(10% 0, farthest-side ellipse, rgba(74, 121, 147, 0.89), rgba(204, 204, 204, 0.85) 60%, rgba(185, 135, 131, 0.87) 120%)
  background: -moz-radial-gradient(10% 0, farthest-side ellipse, rgba(74, 121, 147, 0.89), rgba(204, 204, 204, 0.85) 60%, rgba(185, 135, 131, 0.87) 120%)

.dark-background
  background-color: rgba(102, 105, 104, 0.9)
  background: radial-gradient(farthest-side ellipse at 10% 0, rgba(102, 105, 104, 0.9), rgba(93, 112, 119, 0.89), rgba(160, 174, 150, 0.9))
  background: -webkit-radial-gradient(10% 0, farthest-side ellipse, rgba(102, 105, 104, 0.9), rgba(93, 112, 119, 0.89), rgba(160, 174, 150, 0.9))
  background: -moz-radial-gradient(10% 0, farthest-side ellipse, rgba(102, 105, 104, 0.9), rgba(93, 112, 119, 0.89), rgba(160, 174, 150, 0.9))

#navigation-bar
  margin-bottom: 25px

.content, .box
  border-top: 12px solid #EDEDED
  background: #fff
  padding: 25px
  border-left: 2px solid #EDEDED
  border-right: 2px solid #EDEDED
  border-bottom: 2px solid #EDEDED

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
  background: transparent

#top-navbar
  a
    color: #fff
    font-size: 20px
  .dropdown-menu
    a
      color: #666 !important
      font-size: 14px


.navbar-default
  background-color: transparent

.clearfix
  margin-bottom: 20px

#sidebar
  li.fa
    float: right
    padding: 8px 15px 8px 0
    font-size: 15px


