.alert {
  width: 100%;
}

.select2-search {
  input[type="text"] {
    width: 290px !important;
  }
}

.chosen-select {
  width: 300px;
}

.form {
  input[type='text'], input[type='email'], input[type='tel'] {
    width: 300px;
  }
  textarea {
    width: 300px;
  }
}
