.controls.with-icon-over-input {
  input {
    height: 36px;
    width: 100%;
    padding-left: 10px;
    border-radius: 4px;
  }
}

.alert {
  width: 100%;
}

.select2-search {
  input[type="text"] {
    width: 290px !important;
  }
}

.chosen-select {
  width: 300px;
}

.group-header {
  margin: 0 -15px 20px -15px;
}

.user-menu {
  .dropdown-menu {
    width: 150px !important;
    .icon-signout::before {
      margin-right: 10px;
    }
    .icon-user::before {
      margin-right: 10px;
    }
  }
}

.add-new {
  float: right;
}

.login-container {
  margin-left: 30px !important;
  i {
    float: right;
    position: relative;
    right: 10px;
    bottom: 23px;
  }
}
#contact_form_email {
  width: 300px;
}
.new-registration-form {

  #user_email {
    width: 300px;
  }
}

#container.banner {
  max-width: 620px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.chosen-taggable {
  width: 300px;
}

#main-nav .navigation > .nav > li > a span {
  color: #4797D6;
}

.nav-logo img{
  height: 32px;
  margin-top: 5px;
  margin-left: 10px;
}

.new-user-add-form {
  display: none;
}

.dataTable {

}