/***********************************/
/**          SIDEBAR             **/
/**********************************/
.sidebar {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  background: white;
  padding: 10px 0;
  color: gray;
  font-size: 15px;
  z-index: 1;
  margin: 0;
  -webkit-box-shadow: 0 -1px 1px rgba(103, 103, 103, 0.4), 0 1px 1px rgba(103, 103, 103, 0.4);
  -moz-box-shadow: 0 -1px 1px rgba(103, 103, 103, 0.4), 0 1px 1px rgba(103, 103, 103, 0.4);
  box-shadow: 0 -1px 1px rgba(103, 103, 103, 0.4), 0 1px 1px rgba(103, 103, 103, 0.4);
}
.sidebar .settings {
  margin-top: 10px;
  text-align: center;
}
.sidebar .settings .btn-auto {
  display: none;
}
.sidebar.sidebar-icons .settings .btn-sm, .sidebar.sidebar-icons .settings .btn-group-sm > .btn {
  padding: 2px 8px;
}
.sidebar .panel {
  background: none;
}

.side-nav {
  margin: 0;
  padding-left: 0;
}
.side-nav li {
  list-style: none;
}
.side-nav li i[class*=icon] {
  line-height: 20px;
  float: right;
  font-size: 16.25px;
}
.side-nav li a:hover, .side-nav li a:focus {
  background: whitesmoke;
}
.side-nav li a {
  color: inherit;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  text-decoration: none;
  display: block;
  padding: 8px 20px;
}
.side-nav li a.accordion-toggle:not(.collapsed) + .panel-collapse li.active a {
  background: gainsboro;
}
.side-nav li a.accordion-toggle:not(.collapsed) + .panel-collapse li a:hover {
  background: gainsboro;
}
.side-nav > li.active > a {
  border-left: 4px solid #e5603b;
  padding-left: 16px;
  background: whitesmoke;
  color: #666666;
}
.side-nav .panel-collapse li  {
  
}
.side-nav .panel-collapse li a:hover, .side-nav .panel-collapse li a:focus {
  background: whitesmoke;
}
.side-nav .panel-collapse li a i[class*="icon"] {
  float: none;
  font-size: inherit;
}
.side-nav .panel {
  margin: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.side-nav .panel-collapse.collapse {
  display: block;
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
.side-nav .panel-collapse.collapse.in {
  height: auto;
}

.sidebar-on-right .sidebar {
  right: 0;
  margin: 80px 25px 0 0;
}
.sidebar-on-right .sidebar.sidebar-icons {
  margin-right: 1.6%;
}
.sidebar-on-right .side-nav > li.active > a {
  border-left: none;
  border-right: 4px solid white;
  padding-left: 20px;
  padding-right: 16px;
  background: whitesmoke;
}
.sidebar-on-right .wrap {
  margin-left: 0;
  margin-right: 185px;
}
.sidebar-on-right .wrap.sidebar-icons {
  margin-right: 62px;
}
.sidebar-on-right .logo {
  right: 67px;
  left: auto;
}
.sidebar-on-right .logo.sidebar-icons {
  left: auto;
  right: 1.6%;
  padding-right: 2px;
  width: 40px;
  top: 13px;
}

.sidebar-hidden .sidebar, .sidebar-hidden .logo {
  display: none;
}
.sidebar-hidden .wrap {
  margin-left: 0;
  margin-right: 0;
}
.sidebar-hidden .wrap.sidebar-icons {
  margin-right: 0;
}

