- if user_signed_in?
  .navbar
    %ul.nav
      %li.dropdown.dark.user-menu
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          %span.user-name
            = current_user.email
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to "Profile", edit_user_path(current_user), class: 'icon-user'
          %li
            = link_to "Sign out", :logout, class: 'icon-signout'

- else
  .navbar
    %ul.nav
      / %li
      /   = link_to 'Pricing', :pricing
      / %li
      /   = link_to 'Contact Us', :contact_us
      %li
        = link_to 'Login', :login




