#main-nav-bg
%nav#main-nav
  .navigation
    %ul.nav.nav-stacked
      %li
        %a{href: "/dashboard"}
          %i.icon-dashboard
          %span Dashboard
      %li
        %a.dropdown-collapse{href: "#"}
          %i.icon-male
          %span Leads
          %i.icon-angle-down.angle-down
        %ul.nav.nav-stacked
          %li
            %a{href: "/leads/new"}
              %i.icon-caret-right
              %span Create Lead
          %li
            %a{href: "/leads/"}
              %i.icon-caret-right
              %span View Leads
          %li
            %a{href: "/web_to_lead/"}
              %i.icon-caret-right
              %span Create Web-to-Lead
      %li
        %a.dropdown-collapse{href: "#"}
          %i.icon-book
          %span Contacts
          %i.icon-angle-down.angle-down
        %ul.nav.nav-stacked
          %li
            %a{href: "/contacts/new"}
              %i.icon-caret-right
              %span Create Contact
          %li
            %a{href: "/contacts/"}
              %i.icon-caret-right
              %span View Contacts
      %li
        %a.dropdown-collapse{href: "#"}
          %i.icon-home
          %span Listings
          %i.icon-angle-down.angle-down
        %ul.nav.nav-stacked
          %li
            %a{href: "#"}
              %i.icon-caret-right
              %span Create Listing
          %li
            %a{href: "#"}
              %i.icon-caret-right
              %span View Listings
      %li
        %a.dropdown-collapse{href: "#"}
          %i.icon-home
          %span Offers
          %i.icon-angle-down.angle-down
        %ul.nav.nav-stacked
          %li
            %a{href: "#"}
              %i.icon-caret-right
              %span Create Offer
          %li
            %a{href: "#"}
              %i.icon-caret-right
              %span View Offers
      %li
        %a.dropdown-collapse{href: "#"}
          %i.icon-tasks
          %span Tasks
          %i.icon-angle-down.angle-down
        %ul.nav.nav-stacked
          %li
            %a{href: "/tasks/new"}
              %i.icon-caret-right
              %span Create Task
          %li
            %a{href: "/tasks/"}
              %i.icon-caret-right
              %span View Tasks
      %li
        %a.dropdown-collapse{href: "#"}
          %i.icon-dollar
          %span Opportunities
          %i.icon-angle-down.angle-down
        %ul.nav.nav-stacked
          %li
            %a{href: "/opportunities/new"}
              %i.icon-caret-right
              %span Create Opportunity
          %li
            %a{href: "/opportunities/"}
              %i.icon-caret-right
              %span View Opportunities

      %li
        %a{href: "/calendar"}
          %i.icon-calendar
          %span Calendar
