

/         %li
/           %a{href: "/calendar"}
/             %i.icon-calendar
/             %span Calendar

/         %li
/           %a{href: settings_account_path(current_user.account)}
/             %i.icon-cog
/             %span Account Settings
